<div class="doc-left">
  <nav class="doc-nav">
    {{ $rootPage := . }}
    {{ with .GetPage "/docs" }}
    {{- $currentPage := . -}}
    {{- $docs_section := $currentPage.Section -}}
    <ul>
      {{ range .Sections }}
      <li class="menu-item-has-children {{ if strings.Contains $rootPage.Page.Path .Path }} open {{ end }}"><a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <ul>
          {{ range .Data.Pages }}
          <li {{ if eq $rootPage.Page.Path .Path }} class="active" {{ end }}><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </nav>
</div>