
  {{ $rootPage := . }}
  <div class="content-box">

  {{ with .GetPage "/docs" }}
     {{- $currentPage := . -}}
     {{- $docs_section := $currentPage.Section -}}
     <ul>
     {{ range .Sections }}
       <li>  
        <a {{ if strings.Contains $rootPage.Page.Path .Path }} class="selected-section" {{ end }} href="{{ .RelPermalink }}">{{ .Title }}</a>
       </li>

      {{ if strings.Contains $rootPage.Page.Path .Path }}
      <ul>
       {{ range .Data.Pages }}
        <li>
          <a {{ if eq $rootPage.Page.Path .Path }} class="selected-section-article" {{ end }} href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
       {{ end }}
      </ul>
      {{ end }}

     {{ end }}
     </ul>
       
  {{ end }}
</div>
