<div class="footer l-box is-center">
    {{ if eq .Lang "en" }}
      Telegram: <a href="https://t.me/StreamingCenter">StreamingCenter</a>
      <a href="mailto:info@streaming.center">info@streaming.center</a>

    {{ else  }}
      +7 495 741 16 71
      Telegram: <a href="https://t.me/StreamingCenter">StreamingCenter</a>
      <a href="https://vk.com/radiotochkacom">ВКонтакте</a>
      <a href="mailto:info@radio-tochka.com">info@radio-tochka.com</a>
    {{ end }}

    <p>
      {{ if eq .Lang "en" }}
      <a href="/faq">F.A.Q.</a>
      <a href="/payments">Payment methods</a>
      <a href="/contacts">Contacts</a>
      <a href="/agreement">Agreement</a>
      <a href="/content/privacy_policy">Privacy Policy</a>
      {{ else  }}
      <a href="/faq">F.A.Q.</a>
      <a href="/payments">Способы оплаты</a>
      <a href="/contacts">Контакты</a>
      <a href="/agreement">Договор</a>
      <a href="/content/privacy_policy">Политика конфиденциальности</a>
      {{ end }}
    </p>
  
  </div>

