<div class="container">
  <div class="footer-list posr df aifs">
    <div class="footer-nav__wrapper">
      <div class="footer-nav__title">{{ T "menu" }}</div>
      <nav class="footer-nav">
        <ul>
          <li><a href="/agreement">{{ T "agreement" }}</a></li>
          <li><a href="/faq">F.A.Q.</a></li>
          <li><a href="/payments">{{ T "payments" }}</a></li>
          <li><a href="/content/privacy_policy">{{ T "privacy_policy" }}</a></li>
          <li><a href="{{ T "signin_url" }}">{{ T "signin" }}</a></li>
          <li><a href="{{ T "signup_url" }}">{{ T "signup" }}</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer-left">
      <a class="footer-logo dif link" href="/">
        
        {{ if eq .Lang "en" }}
        <img class="img" src="/img/logoeng.png" alt="">
        {{ else if eq .Lang "ru" }}
        <img class="img" src="/img/logo.png" alt="">
        {{ end }}      

      </a>
      <div class="footer-subtitle">{{ T "platform" }}</div>
      <div class="footer-right posa">
        <div class="footer-nav__title">{{ T "contacts" }}</div>
        
        {{ if eq .Lang "en" }}
        <a class="footer-phone df aic link transition" href="tel:+77057813997">+7 (705) 781-39-97</a>
        <a class="footer-telegram df aic link transition" href="https://t.me/StreamingCenter_eng">Telegram: StreamingCenter</a>
        
        <a class="footer-email df aic link transition" href="mailto:info@streaming.center">info@streaming.center</a>
        {{ else  }}
        <a class="footer-phone df aic link transition" href="tel:+74957411671">+7 (495) 741-16-71</a>
        <a class="footer-telegram df aic link transition" href="https://t.me/StreamingCenter">Telegram: StreamingCenter</a>
        <a class="footer-email df aic link transition" href="mailto:info@radio-tochka.com">info@radio-tochka.com</a>
        {{ end }}
        <!--<a class="footer-btn btn" href="#form" data-modal-btn>Question</a>-->
      </div>
      <div class="footer-copy">{{ T "we_love_radio" }} © 2006 - {{ now.Year }}</div>
    </div>
  </div>
</div>
