<div class="header-container">
  <div class="header-list df aic">
    <a class="header-logo dif link" href="/">
      {{ if eq .Lang "en" }}
        <img class="img" src="/img/logo.png" alt="">
      {{ else if eq .Lang "ru" }}
        <img class="img" src="/img/logo.png" alt="">
      {{ end }}      
    </a>
    {{ if eq .Lang "ru" }}
    <a href="{{ (index $.Translations 0).Permalink  }}" class="header-lang posr">
       <div class="header-lang__current dif aic link transition"><img class="db" src="/img/en.svg" alt=""><span class="db">Eng</span></div>
    </a>
    {{ end }}      
    <div class="header-nav">
      <a class="mobile-btn btn" href="{{ T "signin_url" }}" data-modal-btn><img class="db" src="/img/marker.svg" alt=""><span class="db">{{ T "signin_signup" }}</span></a>
      {{ $currentPage := . }}
      <ul>
        {{- range site.Menus.main }}
          <li><a href="{{ or .URL .PageRef }}">{{ .Name }}</a></li>
        {{- end }}
      </ul>
    </div>
    <a class="header-link dif aic link transition" href="{{ T "signin_url" }}"><img class="db" src="/img/open.svg" alt=""><span class="db">{{ T "signin" }}</span></a><a class="header-btn btn" href="{{ T "signup_url" }}"><img class="db" src="/img/marker.svg" alt=""><span class="db">{{ T "signup" }}</span></a>
    <div class="header-burger cursor hide posr"><img class="db" src="/img/burger.svg" alt=""><img class="db" src="/img/burger-close.svg" alt=""></div>
  </div>
</div>
