<meta charset="utf-8">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ if .Params.Seo_Title }}{{.Params.Seo_Title}}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}{{ end }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ if .Params.Seo_Title }}{{.Params.Seo_Title}}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}{{ end }}"/>
{{ if .Params.Description }}<meta name="description" content="{{ .Params.Description }}">{{ end }}
<link rel="icon" href="/img/favicon.svg">
{{ partialCached "head/css.html" . }}
