<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <div class="page-wrapper">
  <header class="header">
    {{ partial "header.html" . }}
  </header>

  <main class="main posr">
    <div class="content">
      {{ block "main" . }}{{ end }}
    </div>
  </main>

  <footer class="footer">
    {{ partial "footer.html" . }}
  </footer>
  </div>
  {{ partial "head/js.html" . }}

</body>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  {{ if eq .Lang "en" }}
  s1.src='https://embed.tawk.to/660e80f71ec1082f04ded5e5/1hqkafhl8';
  {{ else if eq .Lang "ru" }}
  s1.src='https://embed.tawk.to/583321647295ad7394d22ef3/default';
  {{ end }}
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
</script>
<!--End of Tawk.to Script-->
</html>