{{ define "main" }}
<main class="main posr">
    <div class="main-slider swiper">
        <div class="main-arrow main-prev cursor posa transition">
            <img class="db" src="/img/arrow.svg" alt="" />
        </div>
        <div class="main-arrow main-next cursor posa transition">
            <img class="db" src="/img/arrow.svg" alt="" />
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="main-wrapper posr">
                    <div class="container index">
                        <div class="main-box">
                            <h1 class="main-title h1">{{ T "slide1_title" }}</h1>
                            <div class="main-subtitle maxw">{{ T "slide1_description" }}</div>
                            <a class="main-btn btn" href="{{ T "signup_url" }}" target="_blank">{{ T "slide1_cta" }}</a>
                            <img class="main-mobile hide" src="/img/main.png" alt="" />
                        </div>
                    </div>
                    <div class="main-desktop posa pointer">
                        <div class="container index">
                            <img class="db" src="/img/main.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="main-wrapper posr">
                    <div class="container index">
                        <div class="main-box">
                            <h1 class="main-title h1">{{ T "slide2_title" }}</h1>
                            <div class="main-subtitle maxw">
                                {{ T "slide2_description" }}
                            </div>
                            <a class="main-btn btn" href="#form" data-modal-btn>{{ T "slide2_cta" }}</a><img
                                class="main-mobile hide" src="/img/main.png" alt="" />
                        </div>
                    </div>
                    <div class="main-desktop posa pointer">
                        <div class="container index">
                            <img class="db" src="/img/main.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="main-wrapper posr">
                    <div class="container index">
                        <div class="main-box">
                            <h1 class="main-title h1">{{ T "slide3_title" }}</h1>
                            <div class="main-subtitle maxw">{{ T "slide3_description" }}</div>
                            <a class="main-btn btn" href="#form" data-modal-btn>{{ T "slide3_cta" }}</a><img
                                class="main-mobile hide" src="/img/main.png" alt="" />
                        </div>
                    </div>
                    <div class="main-desktop posa pointer">
                        <div class="container index">
                            <img class="db" src="/img/main.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="main-wrapper posr">
                    <div class="container index">
                        <div class="main-box">
                            <h1 class="main-title h1">{{ T "slide4_title" }}</h1>
                            <div class="main-subtitle maxw">
                                {{ T "slide4_description" }}
                            </div>
                            <a class="main-btn btn" href="#form" data-modal-btn>{{ T "slide4_cta" }}</a><img
                                class="main-mobile hide" src="/img/main.png" alt="" />
                        </div>
                    </div>
                    <div class="main-desktop posa pointer">
                        <div class="container index">
                            <img class="db" src="/img/main.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</main>

{{ end }}