{{ define "main" }}

<main class="view pb posr bg-light">
  <img class="bg-light__img posa pointer db" src="/img/view-bg.svg" alt="" />
  <div class="container index">
    {{ partial "breadcrumbs.html" . }}
    <div class="view-items">
      {{ $paginator := .Paginate .Pages.ByDate.Reverse 15 }}
      {{ range $paginator.Pages }}

      <div class="view-item index">
        {{ $newsDate := print .Date | time.Format "2 01.06" }}
        {{ $newsDay := index (split $newsDate " ") 0 }}
        {{ $newsMonthYear := index (split $newsDate " ") 1 }}

        <div class="view-item__date df aic jcc fxw center posa"><span>{{$newsDay}}</span>{{$newsMonthYear}}</div>
        <h2 class="title center df aifs jcc stream-title index">


          <span class="db"><a href="{{ .RelPermalink }}">{{ .Title }}</a></span
          >
        </h2>
        <div class="view-item__list df fxw jcsb index">
          <div class="doc-content">{{ .Content }}</div>
        </div>
      
      </div>
      {{ end }}
      {{ template "_internal/pagination.html" . }}

    </div>
  </div>
</main>

{{ end }}
