{{ define "main" }}

<main class="view pb posr bg-light">
  <img class="bg-light__img posa pointer db" src="/img/view-bg.svg" alt="" />
  <div class="container index">
    {{ partial "breadcrumbs.html" . }}
    <div class="view-items">
      <div class="view-item index">
        {{ $newsDate := print .Date | time.Format "2 01.06" }}
        {{ $newsDay := index (split $newsDate " ") 0 }}
        {{ $newsMonthYear := index (split $newsDate " ") 1 }}

        <div class="view-item__date df aic jcc fxw center posa"><span>{{$newsDay}}</span>{{$newsMonthYear}}</div>

        <h2 class="title center df aifs jcc stream-title index">

          <span class="db"
            >{{ .Title }}</span
          >
        </h2>
        <div class="view-item__list df fxw jcsb index">

          <div class="doc-content">{{ .Content }}
          

          <div class="doc-content">
            <a class="changelog-btn btn btn-border" href="https://streaming.center/dist/changelog.txt" target="_blank">Changelog</a>
            <a class="news-btn btn btn-border" href="/news">{{ T "all_news" }}</a>
          </div>
        </div>

        </div>
      
      </div>
    </div>
  </div>
</main>

<section class="demo posr">
  <div class="container index">
    <h2 class="demo-title center index white title">{{ T "tour_cta" }}</h2><a class="demo-btn btn" href="https://app.streaming.center/signup">{{ T "tour_try" }}</a>
  </div>
</section>

{{ end }}
