{{ define "main" }}

<div class="pure-g">

    <div class="pure-u-1">
      {{ partial "breadcrumbs.html" . }}
      <div class="content-box">
      <div>{{.Date | time.Format ":date_medium"}}</div>
      {{ if .Params.icon }}<img src="/images/icons/{{.Params.icon}}" style="width: 80px; height: 80px">{{ end }}
      <div>{{ .Content }}</div>
    </div>

    </div>
</div>

<div class="pure-g content-box">
    <div class="pure-u-1-2">
      <a href="https://streaming.center/dist/changelog.txt" target="_blank">Changelog</a>
    </div>

    <div class="pure-u-1-2">
      <a href="/news">{{ T "all_news" }}</a>
    </div>

</div>

{{ end }}