{{ define "main" }}

<main class="view pb posr bg-light">
  <img class="bg-light__img posa pointer db" src="/img/view-bg.svg" alt="" />
  <div class="container index">
    {{ partial "breadcrumbs.html" . }}
    <div class="view-items">
      {{ range .Pages }}

      <div class="view-item index">
        
        <h2 class="title center df aifs jcc stream-title index">
          <span class="db"><a href="{{ .RelPermalink }}">{{ .Title }}</a></span
          >
        </h2>
        <div class="view-item__list df jcsb index">
          {{ $thumbnailPath := print "images/" .File.BaseFileName ".webp" }}
          {{ $image := .Parent.Resources.Get $thumbnailPath }}
          {{ if $image }}
            <img src="{{ $image.RelPermalink }}" width="410" height="220" style="margin: 0px 20px 0px 0px"> 
          {{ end }}
    
          <div class="doc-content">{{ .Content }}</div>
        </div>
      
      </div>
      {{ end }}

    </div>
  </div>
</main>

{{ end }}
