{{ define "main" }}


<main class="view pb posr bg-light">
  <img class="bg-light__img posa pointer db" src="/img/view-bg.svg" alt="" />
  <div class="container index">
    {{ partial "breadcrumbs.html" . }}
    <div class="view-items">
      <div class="view-item index">
        
        <h2 class="title center df aifs jcc stream-title index">
          <span class="db">{{ .Title }}</span>
        </h2>
        <div class="view-item__list df jcsb index">
          {{ $thumbnailPath := print "images/" .File.BaseFileName ".png" }}
          {{ $image := .Parent.Resources.Get $thumbnailPath }}
          {{ if $image }}
          
          <img class="pure-img"  src="{{ $image.RelPermalink }}" width="410" height="220" style="margin: 0px 20px 0px 0px"> 
          {{ end }}

          <div class="doc-content">{{ .Content }}</div>
          

        </div>
      
      </div>
    </div>
  </div>
</main>

<section class="demo posr">
  <div class="container index">
    <h2 class="demo-title center index white title">{{ T "tour_cta" }}</h2><a class="demo-btn btn" href="https://app.streaming.center/signup">{{ T "tour_try" }}</a>
  </div>
</section>
{{ end }}