{{ define "main" }}

<main class="view pb posr bg-light">
    <img class="bg-light__img posa pointer db" src="/img/view-bg.svg" alt="">
    <div class="container index">
      {{ partial "breadcrumbs.html" . }}
      <div class="view-items">
        {{ with .GetPage "/tour/radio" }}
        <div class="view-item index">
          <h2 class="title center df aifs jcc stream-title index"><img class="db" src="/img/stream-logo.svg" alt=""><span class="db"><a href="{{ .RelPermalink }}">{{ .Title }}</a></span></h2>
          <div class="view-item__list df fxw jcsb index">
            {{ .Content }}
          </div>
        </div>
        {{ end }}

        {{ with .GetPage "/tour/website" }}
        <div class="view-item index">
          <h2 class="title center df aifs jcc stream-title index"><img class="db" src="/img/stream-logo.svg" alt=""><a href="{{ .RelPermalink }}"><span class="db">{{ .Title }}</span></a></h2>
          {{ .Content }}
        </div>
        {{ end }}

        {{ with .GetPage "/tour/apps" }}
        <div class="view-item index">
          <h2 class="title center df aifs jcc stream-title index"><img class="db" src="/img/stream-logo.svg" alt=""><span class="db"><a href="{{ .RelPermalink }}">{{ .Title }}</a></span></h2>
          <div class="view-item__list df fxw jcsb index">
            {{ .Content }}
          </div>
        </div>
        {{ end }}

      </div>
    </div>
  </main>

  <section class="demo posr">
    <div class="container index">
      <h2 class="demo-title center index white title">{{ T "tour_cta" }}</h2><a class="demo-btn btn" href="https://app.streaming.center/signup">{{ T "tour_try" }}</a>
    </div>
  </section>




{{ end }}

