{{ define "main" }}
<main class="doc pb posr">
  <img class="bg-light__img posa pointer db" src="/img/view-bg.svg" alt="" />
  <div class="container index doc-container">
    {{ partial "breadcrumbs.html" . }}
    <div>
        {{ $paginator := .Paginate (where .Pages "Type" "catalog_item") 16 }}
        <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); gap: 20px; margin-bottom: 30px;">
          {{ range $paginator.Pages }}
          <div class="catalog-item2">
            <h2>
              <span class="db"><a href="{{ .RelPermalink }}">{{ .Title }}</a></span>
            </h2>
            <div>
              <img src="{{ .Params.logo }}" alt="{{ .Title }}" />
              <div class="doc-content">{{ .Summary }}</div>
            </div>
          </div>
          {{ end }}
        </div>
        {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</main>
{{ end }}